body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(24, 24, 24);
    color: rgb(221, 221, 221);
}
#result {
    display: none;
}
#image {
    height: 400px;
    width: auto;
    border: 5px double rgb(129, 129, 129);
}
div {
    margin: 15px;
}
* {
    text-align: center;
}
#content {
    margin: 20px;
}
#subtext {
    color: grey;
    font-size: smaller;
}
#subtext a:link {
    color: grey;
}
#subtext a:visited {
    color: grey;
}

#buttons button {
    width: 150px;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
#next {
    width: 200px;
    height: 80px;
}
/* Button CSS from https://getcssscan.com/css-buttons-examples */
button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  /* margin: 0; */
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}